<% provide(:title, t('edit_resource', resource: t('activerecord.models.grade'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', grade: @grade %>

  <%= link_to t('show'), @grade %> |
  <%= link_to 'Back', grades_path %>
</div>
