<% provide(:title, t('new_resource', resource: t('activerecord.models.grade'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', grade: @grade %>

  <%= link_to t('back'), grades_path %>
</div>
