<% provide(:title, t('edit_resource', resource: t('activerecord.models.institution'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', institution: @institution %>

  <%= link_to 'Show', @institution %> |
  <%= link_to 'Back', institutions_path %>
</div>
