<div class="row">
  <div class="col-lg-3">
    <div class="small-box bg-info">
      <div class="inner">

      </div>
      <div class="icon">

      </div>
      <%= link_to '#', class: 'small-box-footer' do %>
      <% end %>
    </div>
  </div>
</div>
