<% provide(:title, t('edit_resource', resource: t('activerecord.models.classroom'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', classroom: @classroom %>

  <%= link_to t('show'), @classroom %> |
  <%= link_to t('back'), classrooms_path %>
</div>
