<p>
  <strong>Educative level:</strong>
  <%= @level_career.educative_level.name %>
</p>

<p>
  <strong>Career:</strong>
  <%= @level_career.career.name %>
</p>

<%= link_to t('edit'), edit_level_career_path(@level_career) %> |
<%= link_to t('back'), level_careers_path %>
