<% provide(:title, t('edit_resource', resource: t('activerecord.models.attendance_type'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', attendance_type: @attendance_type %>

  <%= link_to t('show'), @attendance_type %> |
  <%= link_to t('back'), attendance_types_path %>
</div>
