<% provide(:title, t('activerecord.models.campu')) %>

<h1><%= t('new_object', resource: t('activerecord.models.campu')) %></h1>

<%= render 'form', campu: @campu %>

<%= link_to t('back'), campus_path %>
