<% provide(:title, t('edit_resource', resource: t('activerecord.models.status'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', status: @status %>

  <%= link_to t('show'), @status %> |
  <%= link_to t('back'), statuses_path %>
</div>
