<% provide(:title, t('edit_resource', resource: t('activerecord.models.status'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', status: @status %>

  <%= link_to 'Show', @status %> |
  <%= link_to 'Back', statuses_path %>
</div>
