<% provide(:title, t('edit_resource', resource: t('activerecord.models.syllabus'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', syllabus: @syllabus %>

  <%= link_to 'Show', @syllabus %> |
  <%= link_to 'Back', syllabuses_path %>
</div>
