<% if resource.errors.any? %>
  <% resource_key = "activerecord.models.#{resource.class.to_s.underscore}" %>
  <div id="error_explanation" class="info-box bg-danger">
    <div class="info-box-content">
      <h4>
        <%= t('error_message',
              errors: pluralize(resource.errors.count,
                                t('error'), locale: I18n.locale),
              resource: t(resource_key).downcase) %>:
      </h4>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
