<% provide(:title, t('edit_resource', resource: t('activerecord.models.student'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', student: @student %>

  <%= link_to 'Show', @student %> |
  <%= link_to 'Back', students_path %>
</div>
