<p>
  <strong>User:</strong>
  <%= @student.user.name %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @student.enrollment %>
</p>

<%= link_to t('edit'), edit_student_path(@student) %> |
<%= link_to t('back'), students_path %>
