<p>
  <strong>User:</strong>
  <%= @student.user.name %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @student.enrollment %>
</p>

<%= link_to t('edit'), edit_student_path(@student), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), students_path, class: 'btn btn-sm btn-danger' %>
