<% provide(:title, t('edit_resource', resource: t('activerecord.models.syllabus_grade'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', syllabus_grade: @syllabus_grade %>

  <%= link_to t('show'), @syllabus_grade %> |
  <%= link_to 'Back', syllabus_grades_path %>
</div>
