<p>
  <strong>Career syllabus:</strong>
  <%= @syllabus_grade.career_syllabus.name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @syllabus_grade.grade.name %>
</p>

<%= link_to t('edit'), edit_syllabus_grade_path(@syllabus_grade) %> |
<%= link_to 'Back', syllabus_grades_path %>
