<% provide(:title, t('new_resource', resource: t('activerecord.models.course_homework'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', course_homework: @course_homework %>

  <%= link_to t('back'), course_homeworks_path %>
</div>
