<% provide(:title, t('new_resource', resource: t('activerecord.models.tutor'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', tutor: @tutor %>

  <%= link_to 'Back', tutors_path %>
</div>
