<% provide(:title, t('edit_resource', resource: t('activerecord.models.campus_evaluation'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', campus_evaluation: @campus_evaluation %>

  <%= link_to 'Show', @campus_evaluation %> |
  <%= link_to 'Back', campus_evaluations_path %>
</div>
