<p>
  <strong>Campus:</strong>
  <%= @campus_evaluation.campus.name %>
</p>

<p>
  <strong>Turn evaluation:</strong>
  <%= @campus_evaluation.turn_evaluation.name %>
</p>

<%= link_to 'Edit', edit_campus_evaluation_path(@campus_evaluation) %> |
<%= link_to 'Back', campus_evaluations_path %>
