<% provide(:title, t('edit_resource', resource: t('activerecord.models.course_mark'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', course_mark: @course_mark %>

  <%= link_to t('show'), @course_mark %> |
  <%= link_to t('back'), course_marks_path %>
</div>
