<% provide(:title, t('edit_resource', resource: t('activerecord.models.cycle_type'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', cycle_type: @cycle_type %>

  <%= link_to t('show'), @cycle_type %> |
  <%= link_to t('back'), cycle_types_path %>
</div>
