<% provide(:title, t('edit_resource', resource: t('activerecord.models.career'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', career: @career %>

  <%= link_to 'Show', @career %> |
  <%= link_to 'Back', careers_path %>
</div>
