<% provide(:title, t('new_resource', resource: t('activerecord.models.course_evaluation'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', course_evaluation: @course_evaluation %>

  <%= link_to t('back'), course_evaluations_path %>
</div>
