<% provide(:title, t('edit_resource', resource: t('activerecord.models.group'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', group: @group %>

  <%= link_to 'Show', @group %> |
  <%= link_to 'Back', groups_path %>
</div>
