<% provide(:title, t('edit_resource', resource: t('activerecord.models.professor_course'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', professor_course: @professor_course %>

  <%= link_to 'Show', @professor_course %> |
  <%= link_to 'Back', professor_courses_path %>
</div>
