<% provide(:title, t('edit_resource', resource: t('activerecord.models.student_homework'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', student_homework: @student_homework %>

  <%= link_to 'Show', @student_homework %> |
  <%= link_to 'Back', student_homeworks_path %>
</div>
