<% provide(:title, t('editing_object', resource: t('activerecord.models.academic_year'))) %>

<h1><%= t('editing_object', resource: t('activerecord.models.academic_year')) %></h1>

<%= render 'form', academic_year: @academic_year %>

<%= link_to t('show'), @academic_year %> |
<%= link_to t('back'), academic_years_path %>
