<div class="row">
  <div class="col-sm-6">
    <% flash.each do |type, msg| %>
      <% type = type.eql?('notice') ? 'success' : type %>
      <% type = type.eql?('alert') ? 'danger' : type %>
      <div class='alert alert-<%= "#{type}" %>'>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <ul>
          <li>
            <%= msg %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
