<% provide(:title, t('new_resource', resource: t('activerecord.models.academic_cycle'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', academic_cycle: @academic_cycle %>

  <%= link_to 'Back', academic_cycles_path %>
</div>
