<% provide(:title, t('new_resource', resource: t('activerecord.models.student_course'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', student_course: @student_course %>

  <%= link_to t('back'), student_courses_path %>
</div>
