<% provide(:title, t('edit_resource', resource: t('activerecord.models.modality'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', modality: @modality %>

  <%= link_to t('show'), @modality %> |
  <%= link_to t('back'), modalities_path %>
</div>
