<% provide(:title, t('edit_resource', resource: t('activerecord.models.career_syllabus'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', career_syllabus: @career_syllabus %>

  <%= link_to t('show'), @career_syllabus %> |
  <%= link_to t('back'), career_syllabuses_path %>
</div>
