<p>
  <strong>Level career:</strong>
  <%= @career_syllabus.level_career.name %>
</p>

<p>
  <strong>Syllabus:</strong>
  <%= @career_syllabus.syllabus.name %>
</p>

<%= link_to t('edit'), edit_career_syllabus_path(@career_syllabus), class: 'btn btn-sm btn-success' %>
<%= link_to 'Back', career_syllabuses_path %>
