<% provide(:title, t('edit_resource', resource: t('activerecord.models.professor'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', professor: @professor %>

  <%= link_to 'Show', @professor %> |
  <%= link_to 'Back', professors_path %>
</div>
