<p>
  <strong>User:</strong>
  <%= @professor.user.name %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @professor.enrollment %>
</p>

<%= link_to t('edit'), edit_professor_path(@professor) %> |
<%= link_to t('back'), professors_path %>
