<% provide(:title, t('edit_resource', resource: t('activerecord.models.building'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', building: @building %>

  <%= link_to t('show'), @building %> |
  <%= link_to t('back'), buildings_path %>
</div>
