<% provide(:title, t('edit_resource', resource: t('activerecord.models.evaluation_period'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', evaluation_period: @evaluation_period %>

  <%= link_to 'Show', @evaluation_period %> |
  <%= link_to 'Back', evaluation_periods_path %>
</div>
