<% provide(:title, t('new_object', resource: t('activerecord.models.school'))) %>

<h1><%= t('new_object', resource: t('activerecord.models.school')) %></h1>

<%= render 'form', school: @school %>

<%= link_to t('back'), schools_path %>
