<% provide(:title, t('new_resource', resource: t('activerecord.models.campus'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', campus: @campus %>

  <%= link_to t('back'), campuses_path %>
</div>
