<% provide(:title, t('edit_resource', resource: t('activerecord.models.course'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', course: @course %>

  <%= link_to t('show'), @course %> |
  <%= link_to t('back'), courses_path %>
</div>
