<p>
  <strong>Academic cycle:</strong>
  <%= @cycle_modality.academic_cycle.name %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @cycle_modality.modality.name %>
</p>

<%= link_to t('edit'), edit_cycle_modality_path(@cycle_modality) %> |
<%= link_to t('back'), cycle_modalities_path %>
