<% provide(:title, t('editing_object', resource: t('activerecord.models.country'))) %>

<div class="col col-md-6 offset-md-3">
  <h1><%= t('editing_object', resource: t('activerecord.models.country')) %></h1>

  <%= render 'form', country: @country %>

  <%= link_to t('show'), @country %> |
  <%= link_to t('back'), countries_path %>
</div>
