<% provide(:title, t('new_object', resource: t('activerecord.models.country'))) %>

<h1><%= t('new_object', resource: t('activerecord.models.country')) %></h1>

<%= render 'form', country: @country %>

<%= link_to t('back'), countries_path %>
