<%= link_to root_path, class: 'brand-link' do %>
  <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
  <span class="brand-text font-weight-light"><%= t('app_name') %></span>
<% end %>
