<% provide(:title, t('edit_resource', resource: t('activerecord.models.homework_mark'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', homework_mark: @homework_mark %>

  <%= link_to t('show'), @homework_mark %> |
  <%= link_to t('back'), homework_marks_path %>
</div>
