<% provide(:title, t('edit_resource', resource: t('activerecord.models.evaluation_attendance'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', evaluation_attendance: @evaluation_attendance %>

  <%= link_to t('show'), @evaluation_attendance %> |
  <%= link_to t('back'), evaluation_attendances_path %>
</div>
