<% provide(:title, t('new_resource', resource: t('activerecord.models.evaluation_attendance'))) %>

<div class="col-md-6 offset-md-3">
  <%= render 'form', evaluation_attendance: @evaluation_attendance %>

  <%= link_to 'Back', evaluation_attendances_path %>
</div>
