<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-block">
    Datos
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2020 <a href="https://jhondta.github.io">Nadi TI</a>.</strong>
</footer>
